body {
  background-size:100%;
  background-repeat: no-repeat;
  font-family: "Nunito";
}


h1 {
    font-family: "Nunito";
    font-size: 50px;

}

h2 {
    font-family: "Nunito";
    font-size: 30px;

}

.font-light {
font-family: 'Nunito', sans-serif;
    font-weight: lighter;
    font-size: 15px;
}

.footer {
    left: 0;
    right: 0;
    bottom: 0;
    width: 100;
    font-size: 9px;
    text-align: center;
    background-color: #222d38;
    color: white;
}


p.centertext {
    text-align: center;
}

.center {
    margin: auto;
    width: 50%;
    padding: 0px;
}

img {
    width: 100%;
}

img.profile {
    width: 30%;
}
.img-footer {
    width: 100px;
}

.hero-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}

h1.centertext {
    text-align: center;
}

.nav {
        position: fixed;
            box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}
@media all and (max-width: 700px)
{
    .jumbotron
    {
        height: 550px;
        text-align: center;
5}
    .hero-center{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }

    .padding-0{
        padding-right:100px;
        padding-left:100px;
    }
    img.profile {
        width: 100%;
    }

.center-align {
    text-align: center;
}

}

.main-navigation {

}
.jumbotron {

  background-image: url("images/hero.png");
  background-size: cover;
  color: white;
  margin-bottom: 0;
  padding-top: 150px;
  padding-bottom: 60px;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.bold

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}

.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}




.gradient-button {
    margin: 10px;
    font-family: "Nunito", Gadget, sans-serif;
    font-size: 20px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    transition: 5s;
    background-size: 200% auto;
    color: #FFF;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    display: inline-block;
    border-radius: 25px;
}
.gradient-button:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 8px 10px 12px;
}
.gradient-button-1 {background-image: linear-gradient(to right, #DD5E89 0%, #F7BB97 51%, #DD5E89 100%)}
.gradient-button-1:hover { background-position: right center; }

.gradient-button-2 {background-image: linear-gradient(to right, #2BC0E4 0%, #EAECC6 51%, #2BC0E4 100%)}
.gradient-button-2:hover { background-position: right center; }

.gradient-button-3 {background-image: linear-gradient(to right, #7474BF 0%, #348AC7 51%, #7474BF 100%)}
.gradient-button-3:hover { background-position: right center; }

.gradient-button-4 {background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 51%, #00d2ff 100%)}
.gradient-button-4:hover { background-position: right center; }
